service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.laurel_sprout
    class late_start
    user system
    group system input uhid

on init
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/class/touch/tp_dev/fod_status
    chmod 0700 /sys/class/drm/card0-DSI-1/disp_param
    chmod 0660 /sys/class/touch/tp_dev/fod_status

    chmod 0666 /dev/input/event2
